		<div class="body-homepage">

		<!--Page title -->
		<% @title="Accueil" %>
		
		
	<!-- Navbar-->
    <%= render "homepage/shared/navbar" %>
		<!-- Hero -->
    <%= render "homepage/shared/hero" %>
		
		<!-- Feature Lesson Essentials-->
    <%= render "homepage/shared/essential" %>
		<!-- Feature  Flash Card-->
    <%= render "homepage/shared/flashCard" %>
		<!-- Feature Exercise -->
    <%= render "homepage/shared/exercise" %>
		
		<!-- Pricing -->
    <%= render "homepage/shared/pricing" %>
		
		<!--  -->
		<!-- Testimonial -->
		<%= render "homepage/shared/testimonial" %>
		<!--  -->
		<%= render "homepage/shared/programs" %>
		</div>