<div id="<%= dom_id user_role %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= user_role.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= user_role.slug %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= user_role.user_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user role", user_role, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this user role', edit_user_role_path(user_role), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
