
<% @title="Se connecter" %>

<div class="container-fluid" >
  <div class="w-full flex flex-wrap ">
  <div class="border card p-4 rounded-md">
  <div class="w-72">
  <h2 class="mt-20">Se Connecter</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
     <!-- Error-->
 <%#= form_error_notification(resource: resource) %>

    <div class="field w-full">
      <%= f.label :matricule , class:"text-white font-bold"%><br />
      <%= f.text_field :logged, autofocus: true, autocomplete: "matricule", placeholder:"N° Matricule" %>
    </div>

    <div class="field my-4">
      <%= f.label :"N° WhatsApp", class:"text-white font-bold" %><br />
      <%= f.password_field :password, autocomplete: "current-password", placeholder:"N° WhatsApp" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field my-2">
        <%= f.check_box :remember_me, class:"text-white font-bold" %>
        <%= f.label :"Toujours connecter" %>
      </div>
    <% end %>

    <div class="actions mb-4">
      <%= f.submit "Se connecter", class:"bg-blue-500 text-white font-bold p-2 border rounded-md mt-2" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
  </div>
  </div>
  </div>
</div>
