<%= form_with(model:@flash_card, url: [@course, @flash_card], class: "contents") do |form| %>
 
 <!-- Error-->
 <%= form_error_notification(flash_card) %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, autofocus:true,  class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  
  <%= form.hidden_field :course_id, value: @flash_card.course_id %>
  <%= link_to "Cancel", course_path(@course), class: "p-2 bg-green-200 text-white font-bold" %>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
