

<% @title="S'Inscription élèves" %>
<div class="container-fluid bg-black" >
	<div class="flex flex-wrap ">
		<div class="m-auto border border-x-slate-300 ">
				<%= render "membership/shared/sign_up/header" %>
			
			<div class="px-4 md:px-302 py-8">
				<h2 class="flex justify-center text-2xl text-white font-bold">Incription </h2>
				<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
				<%= render "devise/shared/error_messages", resource: resource %>
        
				
				<!-- Error-->
				<%#= form_error_notification(resource: resource) %>
				<div class="py-8 pb-2">
					<div class="py-8 max-w-md">
						<div class="grid grid-cols-1 gap-6">
							<label class="block"><span class="text-white">Email: </span>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"email ...",class:"ln-text-field" %></label>
						</div>
					</div>
				
					<div class="py-8 max-w-md">
						<div class="grid grid-cols-1 gap-6">
							<label class="block"><span class="text-white">Mot de passe: </span><%= f.password_field :password,  placeholder:"Ex: ****** ...", class:"ln-text-field" %></label>
						</div>
					</div>
					<div class="py-8 max-w-md">
						<div class="grid grid-cols-1 gap-6">
							<label class="block"><span class="text-white">Nom: </span><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder:"Konan ...",class:"mt-1 block w-full" %></label>
						</div>
					</div>
				
					<div class="py-8 max-w-md">
						<div class="grid grid-cols-1 gap-6">
							<label class="block"><span class="text-white">Prénom: </span><%= f.text_field :last_name,  placeholder:"Ex: Angela ...", class:"ln-text-field" %></label>
						</div>
					</div>
					          
          <div class="py-8 max-w-md">
            <div class="grid grid-cols-1 gap-6">
              <label class="block"><span class="text-white ">N° whatsapp </span>
                <%= f.phone_field :contact, placeholder:"Ex: 0584258085", class:"ln-text-field" %>
              </label>
            </div>
          </div>
          
          <div class="py-8 max-w-md">
						<div class="grid grid-cols-1 gap-6 pt-4">
							<label class="block">
								<%= f.label :"Je suis :" , class:"text-white" %>
								<br>
								<%= f.radio_button :gender, "Femme", id:"fenale", checked: true %>
								<label for="fenale" class="ln-radio-label pr-8">Une Femme</label>
								<%= f.radio_button :gender, "Homme",id:"male" %>
								<label for="male" class="ln-radio-label">Un Homme</span>
								
							</label>
						</div>
					</div>
				 <%= f.hidden_field :user_role, value:"Team" %>
				 <%= f.hidden_field :city_name, value:"HQ" %>
				 <%= f.hidden_field :school_name, value:"HQ-Lnclass" %>
				 <%= f.hidden_field :level_name, value:"QH" %>
				<div class="pt-4 my-6">
					<%= f.submit "Inscription", class:"bg-blue-500 text-white font-bold p-3 px-6 rounded-full mt-2" %>
				</div>
				</div>
			<% end %>
			</div>
		</div>
	</div>
</div>
</div>

<%= render "devise/shared/links" %>